## Importing the libraries

In [1]:
from requests import get
from bs4 import BeautifulSoup

In [2]:
url='https://www.flipkart.com/search?q=tv%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
url

'https://www.flipkart.com/search?q=tv%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

## Accessing the website using get method

In [3]:
response=get(url)
response

In [4]:
soup=BeautifulSoup(response.text,'lxml')

In [5]:
master_container=soup.find_all('div',{'class':'_2kHMtA'})
len(master_container)

24

In [6]:
name=[]
ratings=[]
price=[]

In [7]:
for i in range(len(master_container)):
    name.append(master_container[i].find('div',{'class':'_4rR01T'}).text)
    try:
        ratings.append(master_container[i].find('div',{'class':'_3LWZlK'}).text)
    except:
        ratings.append(None)
    price.append(master_container[i].find('div',{'class':'_30jeq3 _1_WHN1'}).text)

In [8]:
import pandas as pd

In [9]:
data={'Name':name,'Ratings':ratings,'Price':price}
df=pd.DataFrame(data)
df

                                                 Name Ratings    Price
0   Gangnam Street 108 cm (43 inch) Full HD LED Sm...     4.6  ₹12,999
1           BeethoSOL 80 cm (32 inch) HD Ready LED TV     4.1   ₹6,949
2   Mi 5A 80 cm (32 inch) HD Ready LED Smart Andro...     4.4  ₹12,999
3   realme 80 cm (32 inch) HD Ready LED Smart Andr...     4.3  ₹11,999
4   Infinix Y1 80 cm (32 inch) HD Ready LED Smart ...     4.2   ₹8,499
5      LG 80 cm (32 inch) HD Ready LED Smart WebOS TV     4.4  ₹13,999
6   OnePlus Y1S 80 cm (32 inch) HD Ready LED Smart...     4.3  ₹13,999
7   Dyanora 60 cm (24 inch) HD Ready LED Smart And...     4.1   ₹6,599
8   Thomson Alpha 80 cm (32 inch) HD Ready LED Sma...     4.4   ₹8,499
9   acer I Series 80 cm (32 inch) HD Ready LED Sma...     4.4  ₹11,999
10          BeethoSOL 60 cm (24 inch) HD Ready LED TV     4.1   ₹5,449
11  Dyanora Sigma 80 cm (32 inch) HD Ready LED Sma...     4.1   ₹7,999
12  SAMSUNG 80 cm (32 Inch) HD Ready LED Smart Tiz...     4.4  ₹13,990
13  TCL 80.04 cm (32 inch) HD Ready LED Smart Andr...     4.1  ₹11,990
14  iFFALCON by TCL 80.04 cm (32 inch) HD Ready LE...     4.2  ₹10,999
15  Coocaa 80 cm (32 inch) HD Ready LED Smart Cool...     4.3   ₹8,499
16  BeethoSOL 80 cm (32 inch) HD Ready LED Smart A...     4.1   ₹8,049
17  Adsun Smart Series 60 cm (24 inch) HD Ready LE...     3.9   ₹6,799
18  Mi X Series 108 cm (43 inch) Ultra HD (4K) LED...     4.3  ₹26,999
19  Mi 5A 100 cm (40 inch) Full HD LED Smart Andro...     4.4  ₹20,999
20  Dyanora 60 cm (24 inch) HD Ready LED Smart And...     4.1   ₹6,999
21  Dyanora 80 cm (32 inch) HD Ready LED Smart And...     4.1   ₹8,299
22  LG UQ7500 108 cm (43 inch) Ultra HD (4K) LED S...     4.4  ₹30,499
23  OnePlus Y1S Pro 138 cm (55 inch) Ultra HD (4K)...     4.4  ₹37,999

## Extracting Reviews, comments ,customer name

In [10]:
url1='https://www.flipkart.com/beethosol-60-cm-24-inch-hd-ready-led-tv/p/itm90f7facf698f4?pid=TVSGG79MWCZAYABV&lid=LSTTVSGG79MWCZAYABVBIZVS1&marketplace=FLIPKART&q=tv+&store=ckf%2Fczl&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=en_z26IeX4rC70TFqLTRiLbUpgZmI9lP9sBfNhHwyF8xU9x%2F1ZSn8mb4Wne4TN0mnX38SO%2BoaqCp2o0%2FXmmYb2YOQ%3D%3D&ppt=hp&ppn=homepage&ssid=625fbztyts0000001684770257059&qH=ebb7f8e6076c3747'
response=get(url1)
response

In [11]:
soup1=BeautifulSoup(response.text,'lxml')

In [12]:
master_container1=soup1.find_all('div',{'class':'col _2wzgFH'})
len(master_container1)

10

In [13]:
reviews=[]
comments=[]
cust_name=[]
cust_ratings=[]

In [14]:
for i in range(len(master_container1)):
    try:
        reviews.append(master_container1[i].find('div',{'class':'t-ZTKy'}).text)
    except:
        reviews.append(None)
    try:
        comments.append(master_container1[i].find('p',{'class':'_2-N8zT'}).text)
    except:
        comments.append(None)
    try:
        cust_name.append(master_container1[i].find('p',{'class':'_2sc7ZR _2V5EHH'}).text)
    except:
        cust_name.append(None)
    try:
        cust_ratings.append(master_container1[i].find('div',{'class':'_3LWZlK _1BLPMq'}).text)
    except:
        cust_ratings.append(None)

In [15]:
data=pd.DataFrame({'Customer Name':cust_name,'Review':reviews,'Comment':comments,'Rating':cust_ratings})

In [16]:
data

,Customer Name,Review,Comment,Rating
0,Arun Gujjar,its a smart tv (not Android )it have already i...,Really Nice,4
1,Madhava Raghavendra Raghavendra,product quality ok I am happyREAD MORE,Just wow!,5
2,Raja sekhar,"I was dare this to buy, but finally it was rea...",Wonderful,4
3,Manoj Kumar,Good...READ MORE,Pretty good,4
4,Flipkart Customer,value for money👍👍👍👍👍👍READ MORE,Terrific,5
5,Flipkart Customer,Good productREAD MORE,Simply awesome,5
6,Abhiranjan Kumar,Very nice product 👍😊 I am very happyREAD MORE,Perfect product!,5
7,C. Lalduhtluanga (tluanga),Very goodREAD MORE,Worth the money,4
8,Satyam Thakur,Vary good 👍👍👍READ MORE,Wonderful,5
9,Neeraj Sahu,It's niceREAD MORE,Classy product,5